@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
}

header {
    position: relative; 
    background-image: url("../../images/beachshowcase-bg.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Dancing Script, Arial, Helvetica, sans-serif;/*прописати батьківський шрифт*/
    color: #936239;/*прописати колір в іншому ускладненому форматі*/
}

.header-box {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 40%; /* зміщує верхню межу блока на 50% вниз */
    left: 50%; /* зміщує ліву межу блока на 50% вправо */
    transform: translate(-50%, -50%); /* зсуває блок назад на половину його розміру */
    width:80%;
}

h1 {
    font-size: 3.125em;
}

.header-box > p {
    font-size: 1.375em;
}

.button {
    border:#936239 1px solid;
    text-decoration: none;
    text-align:center;
    color: #936239;
    border-radius: 10px;
    margin: 20px 0px 0px;
    height: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;   
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.25em;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #7a4f2e;
    color: #fff; 
}

#section1 {
background-color:#936239;
color:white;
font-size: 1.0625em;
font-family: Cormorant, sans-serif;
font-weight: 400;
text-align: center;
padding: 20px 20px;
}

#section2 {
border: white 1px solid;
color:#936239;
font-size: 1.0625em;
font-family: Cormorant, sans-serif;
font-weight: 400;
text-align: center;
padding: 20px 20px; 
background-color: rgb(244, 244, 244);
}

#section3 {
font-size: 0px;
font-family: Cormorant, sans-serif ;
font-weight:400;

}
.box1 {
background-color:#936239;
color:white;
text-align:left;
padding: 20px 20px; 
display: inline-block;
font-size: 1.0625rem;  
width: calc(100% / 3); 

}


.box2 {
text-align:left;
padding: 20px 20px; 
background-color: rgb(249, 249, 249);
color: #936239;
display: inline-block;
font-size: 1.0625rem;  
width: calc(100% / 3); 
}

.box3 {
background-color:#936239;
color:white;
text-align:left;
padding: 20px 20px; 
display: inline-block;
font-size: 1.0625rem; 
width: calc(100% / 3); 
}
